/* ³£Í¥Èð */
body{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.content{
	position:relative;
	top:100px;
}
#txt1{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	width:500px;
	height:50px;
	border:2px solid #683B4D;
	border-radius:5px;
	background-color:transparent;
	position:relative;
	top:100px;
	
}
.mybtn1{
	position:relative;
	
	left:143px;
}

.mybtn2 input{
	border:none;
}
.mytext{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	color:#683B4D;
}

#myTable{
	position:relative;

	top:200px;
	width:1000px;
}