/* ³£Í¥Èð */
body{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#videos{
	position: absolute;
	left:0;
	top:100px;
}