body{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}



/*¸öÈËÐÅÏ¢¿é*/
.myinformation{
	position:absolute;
    width:80%;
    height:40%;
    left:10%;
    top:25%;
    border:2px solid white;
    border-radius:15px;
    background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    overflow: hidden;
    cursor: move;
    
}
.image{
	position:absolute;
	left:100px;
	top:70px;
	width:200px;
	height:200px;
	border:3px solid white;
	border-image: -webkit-linear-gradient( red, blue) 30 30;
    border-image: -moz-linear-gradient( red, blue) 30 30;
    border-image: linear-gradient( red, blue) 30 30;
    z-index:100;
}

.image img{
	width:100%;
	height:100%;
}

.informationbox{
	position:absolute;
	left:500px;
	top:80px;
	width:800px;
	height:200px;
	color:white;
	font-weight:700;
	z-index:200;
}

.info{
	display:block;
	float:left;
	width:390px;
	margin-top:15px;
	margin-left:5px;
}


/*button¿ò*/
.mybuttons{
	position:absolute;
	width:80%;
    height:10%;
    left:10%;
    top:80%;
    
}    

.mybtn1{
	margin-left:0;
}
   

/*ÊÓÆµ*/
.videos{
	
	position:absolute;
	left:150px;
	top:900px;
}

.title1{
	color:#683B4D;
	font-weight:700;
}

.myvideo{
	position:relative;

}   

.title2{
	color:#683B4D;
	font-weight:700;

}

.mycollect{
	position:relative;
	top:200px;
}


/*Òþ²Ø¿é1*/
#close1{
	position:absolute;
	left:95%;
	top:2%;
	text-decoration:none;
	color:black;
}

#light1{
	display: none; 
    position: absolute; 
    top: 25%; 
    left: 37.5%; 
    width: 25%; 
    height: 30%; 
    padding: 20px; 
    border: 1px solid #00CCFF; 
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    z-index:1002; 
    overflow: none; 
	border-radius: 15px;
}
.mymessage{
	position:relative;
	top:30px;
	left:20px;
	opacity:0.7;
	width:400px;
	height:150px;
	
}

.btn1{
	
	position:relative;
	left:140px;
	top:50px;
}
.btn1 input{
	border:none;
}

/*Òþ²Ø¿é2*/
#close2{
	position:absolute;
	left:95%;
	top:2%;
	text-decoration:none;
	color:black;
}

#light2{
	display: none; 
    position: absolute; 
    top: 25%; 
    left: 37.5%; 
    width: 25%; 
    height: 30%; 
    padding: 20px; 
    border: 1px solid #00CCFF; 
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    z-index:1002; 
    overflow: none; 
	border-radius: 15px;
}
.fileinput{
	position:relative;
	left:100px;
	top:80px;
}
.btn2{
	
	position:relative;
	left:140px;
	top:130px;
}
.btn2 input{
	border:none;
}
/*Òþ²Ø¿é3*/

#close3{
	position:absolute;
	left:95%;
	top:2%;
	text-decoration:none;
	color:black;
}

#light3{
	display: none; 
    position: absolute; 
    top: 10%; 
    left: 37.5%; 
    width: 25%; 
    height: 80%; 
    padding: 20px; 
    border: 1px solid #00CCFF; 
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    z-index:1002; 
    overflow: auto;
	border-radius: 15px;
}
.moheader{
	position:absolute;
	margin-top:10px;
	left:150px;
}

.moheader p{
	font-size: 40px;
    text-shadow: 5px 5px 5px black, 0px 0px 2px black;
    color: white;
}

#moname{
	position:absolute;
	top:140;
	left:90px;

}

 
#modate{
	position:absolute;
	margin-top:200px;
	left:90px;
}

#molocation{
	position:absolute;
	margin-top:260px;
	left:90px;
} 

#moschool{
	position:absolute;
	margin-top:320px;
	left:90px;
} 

#moclass{
	position:absolute;
	margin-top:380px;
	left:90px;
} 

#moinformation{
	position:absolute;
	margin-top:440px;
	left:90px;
} 

#mosex{
	position:absolute;
	margin-top:500px;
	left:90px;
}

.mo input{
	height:40px;
	width:300px;
}   

.mo select{
	height:40px;
	width:148px;
}     
    
.mo #sex{
	height:40px;
	width:300px;
}
.mybtn2{
	position:absolute;
	margin-top:600px;
	left:170px;
	border:none;
}


/*Òþ²Ø*/
.black_overlay{
	display: none; 
    position: fixed; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
}
/*


 

.fileinput{
	position:absolute;
	left:20%;
	top:20%;
    width: 60%; 
    height: 10%;
}

.submitimage{
	position:absolute;
	left:35%;
	top:60%;
	width:30%;
	height:20%;
	
}

  

.close input{
	border:none;
	background-color:transparent;
	color:black;
	font-weight:800;
}



    



/*ÊÓÆµ*/

  