------整体结构-----
body{
	padding:0;
	margin:0;
	font-family: 'PT Sans', sans-serif;
	background-color:#ffffff;
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
	letter-spacing: 1px;		   
}	
p, a{
	margin:0;
	letter-spacing: 1px;
}
ul{
	margin:10px;
	padding:0;
}
label{
	margin:0;
}
------header-----
.header {
	padding: 1em 0 0;
    background-color: #ffffff;
}

.top-menu {
	float:right;
}
.top-menu ul li {
	display:inline-block;
}

.btn1:hover, .btn1:focus, .btn1:active {
    color: #fff;
    background-color:#00BFFF !important;
    border-color:#00BFFF;
    border-radius: 0;
}

------login-----
.modal-dialog_1{
    width:400px;
    margin: 30px auto;
}
.section input[type="submit"]{
    font-size: 14px;
    font-weight: 300 !important;
    color: #000;
    cursor: pointer;
    outline: none;
    padding:8px 15px;
    width:50%;
    margin:0 auto;
    border: none;
    background: #00CCFF;
    text-transform: uppercase;
    border: 4px double #00CCFF;
}
.section input[type="submit"]:hover, .btn-success1:hover{
	background:rgba(243, 219, 40, 0);
}
.submit {
    text-align: center;
}
ul.new {
    margin:3em 0 1em;
    list-style: none;
    padding: 0;
}
ul.new li.new_left {
    float: left;
}
ul.new li.new_left p a{
	color:#000;
}
ul.new li.new_left p a:hover{
	text-decoration:none;
	color: #56CFCA;
}
ul.new li.new_left p, p.sign {
    font-weight: 300;
}
ul.new li.new_left p, p.sign a{
	color: #56CFCA;
}
ul.new li.new_left p, p.sign a:hover{
	text-decoration:none;
	color:#000;
}
ul.new li.new_right {
    float: right;
}
.section {
	position: relative;
    margin-bottom: 22px;
}
.section input[type="text"], .section input[type="password"], .input-sm{
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    height: 42px;
    width: 100%;
    padding-left: 40px;
    font-weight: 100;
    letter-spacing: 1px;
}
select#country {
    height:44px;
    color: #9C9C9C;
}
label.field.prepend-icon {
    width: 100%;
}
.field-icon {
    top: 0;
    z-index: 4;
    width: 42px;
    height: 42px;
    color: inherit;
    line-height: 42px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
    color:#56CFCA;
    font-size:15px;
    left:0px;
}
.head_4 p{
    font-size:1.5em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight:100;
}
------register-----
.modal-dialog_2{
    width:450px;
    margin: 30px auto;
}
form.register {
    padding: 0 2em;
    text-align:center;
}

.check_1 input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
.checkbox label:before {
    border-radius: 3px;
}
.form-actions.floatRight {
    text-align: center;
    margin-bottom: 2em;
}
h4#myModalLabel {
    font-family: 'Oswald', sans-serif;
    font-size:3em;
    font-weight:100;
    color:#000;
}
.modal-content {
    border-radius:0px !important;
}
.modal-header {
    border-bottom: 1px solid rgba(204, 204, 204, 0);
}
.close {
    font-size: 30px !important;
    font-weight: 100 !important;
}
.form-group_2 input {
    background: url("../images/inputbg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #999;
    font-size: 12px;
    margin: 0 10px 20px;
    padding: 0 2px;
}

------select language -------
ul.lang{
	padding:0;
	margin:0;
	list-style:none;
}
ul.lang li a{
	color:#000;
	font-size:1em;
	line-height:1.8em;
}

.btn-default {
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(204, 204, 204, 0);
}
------搜索-----
div.search1 {padding: 30px 0}
form.search1 {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.dd1 {background: #A3D0C3;}
.dd1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.button{
	position:absolute;	
	top:2px;
	right:1px;
	width:38px;
	height:38px;
	
	
}

------轮播-----
div,ul,li,a,img{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
#wrapper{position: relative;margin: 50px 100px 100px 200px !important;width: 1500px;height: 600px;}
#banner{position:relative;width: 1500px;height: 600px;overflow: hidden;}
.imgList{position:relative;width:7500px;height:600px;z-index: 10;overflow: hidden;}
.imgList li{float:left;display: inline;}
#prev,
#next{position: absolute;top:80px;z-index: 20;cursor: pointer;opacity: 0.2;filter:alpha(opacity=20);}
#prev{left: 10px;}
#next{right: 10px;}
#prev:hover,
#next:hover{opacity: 0.5;filter:alpha(opacity=50);}
.bg{position: absolute;left:0px;bottom: 0;width: 1500px;height: 100px;z-index:20;opacity: 0.4;filter:alpha(opacity=40);background: black;}
.infoList{position: absolute;left: 10px;bottom: 10px;z-index: 30;}
.infoList li{display: none;}
.infoList .infoOn{display: inline;color: white;}
.indexList{position: absolute;right: 100px;bottom: 5px;z-index: 30;}
.indexList li{float:left;margin-right: 5px;padding: 2px 4px;border: 2px solid black;background: grey;cursor: pointer;}
.indexList .indexOn{background: red;font-weight: bold;color: white;}
  
------videos-----
#videos{position: relative;}
.ul1{
	margin:100px 100px 100px 180px;
	width: 1800px;
	height: 200px;
}

.ul1 li{
	float: left; 
	margin-right: 100px;
	margin-top:80px;
}
div li{
	list-style-type:none;
}
div .box1{
	width: 225px;height: 175px;
	box-shadow: 0 4px 20px #ccc;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s;
}
div .ul1 .first{
	background: #fff;
	position: absolute;
	top:105px;
}
div .ul1 .first .top2{
	width: 225px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
}
div .ul1 .box1 .bottom2{
	width: 205px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color:#999;
	padding: 0 10px;
}
div .ul1 .box1 .bottom2 span{
	float: right;
}
div .ul1 .last{
	background: #fff;
	position: absolute;
	top:105px;
	display: none;
}
div .ul1 .last .top2{
	color: #666;
	font-size: 12px;
	text-align: center;
	width: 225px;
	height: 30px;
	padding: 5px 0;
}
div .ul1 .box1 img{
	transition: 1.5s;
}
div .ul1 .box1:hover img{
	transform: scale(1.3); 
}
div .ul1 .box1:hover .last{
	display: block;
}
div .ul1 .box1:hover{
	box-shadow: 0 4px 30px #B2B2B2;
}
