------整体结构 邓慧颖、常庭瑞-----
body{
	padding:0;
	margin:0;
	font-family: 'PT Sans', sans-serif;
	
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
	letter-spacing: 1px;		   
}	
p, a{
	margin:0;
	letter-spacing: 1px;
}
ul{
	margin:10px;
	padding:0;
}
label{
	margin:0;
}
------header 邓慧颖-----
.header {
    background-color: #ffffff;
}

.top-menu {
	float:right;
	margin-right:-300px;
}
.top-menu ul li {
	display:inline-block;
}

.btn1{
	padding-top:16px;
}
.btn1:hover, .btn1:focus, .btn1:active {
    color: #fff;
    background-color:#00BFFF !important;
    border-color:#00BFFF;
    border-radius: 0;
    height:50px;
    padding-top:16px;
}

------login 常庭瑞-----
.modal-dialog_1{
    width:400px;
    margin: 30px auto;
}
.section input[type="submit"]{
    font-size: 14px;
    font-weight: 300 !important;
    color: #000;
    cursor: pointer;
    outline: none;
    padding:8px 15px;
    width:50%;
    margin:0 auto;
    border: none;
    background: #00CCFF;
    text-transform: uppercase;
    border: 4px double #00CCFF;
}
.section input[type="submit"]:hover, .btn-success1:hover{
	background:rgba(243, 219, 40, 0);
}
.submit {
    text-align: center;
}
ul.new {
    margin:3em 0 1em;
    list-style: none;
    padding: 0;
}
ul.new li.new_left {
    float: left;
}
ul.new li.new_left p a{
	color:#000;
}
ul.new li.new_left p a:hover{
	text-decoration:none;
	color: #56CFCA;
}
ul.new li.new_left p, p.sign {
    font-weight: 300;
}
ul.new li.new_left p, p.sign a{
	color: #56CFCA;
}
ul.new li.new_left p, p.sign a:hover{
	text-decoration:none;
	color:#000;
}
ul.new li.new_right {
    float: right;
}
.section {
	position: relative;
    margin-bottom: 22px;
}
.section input[type="text"], .section input[type="password"], .input-sm{
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    height: 42px;
    width: 100%;
    padding-left: 40px;
    font-weight: 100;
    letter-spacing: 1px;
}
select#country {
    height:44px;
    color: #9C9C9C;
}
label.field.prepend-icon {
    width: 100%;
}
.field-icon {
    top: 0;
    z-index: 4;
    width: 42px;
    height: 42px;
    color: inherit;
    line-height: 42px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
    color:#56CFCA;
    font-size:15px;
    left:0px;
}
.head_4 p{
    font-size:1.5em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight:100;
}
------register 邓慧颖-----
.modal-dialog_2{
    width:450px;
    margin: 30px auto;
}
form.register {
    padding: 0 2em;
    text-align:center;
}

.check_1 input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
.checkbox label:before {
    border-radius: 3px;
}
.form-actions.floatRight {
    text-align: center;
    margin-bottom: 2em;
}
h4#myModalLabel {
    font-family: 'Oswald', sans-serif;
    font-size:3em;
    font-weight:100;
    color:#000;
}
.modal-content {
    border-radius:0px !important;
}
.modal-header {
    border-bottom: 1px solid rgba(204, 204, 204, 0);
}
.close {
    font-size: 30px !important;
    font-weight: 100 !important;
}
.form-group_2 input {
    background: url("../images/inputbg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #999;
    font-size: 12px;
    margin: 0 10px 20px;
    padding: 0 2px;
}

------select language 常庭瑞-------
ul.lang{
	padding:0;
	margin:0;
	list-style:none;
}
ul.lang li a{
	color:#000;
	font-size:1em;
	line-height:1.8em;
}

.btn-default {
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(204, 204, 204, 0);
}



















 
 /*视频*/
#videos{
	position: absolute;
	left:0;
	top:800px;
}
