/* ³£Í¥Èð */
body{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.fileInputContainer{
    position:absolute;
    left:30%;
    top:10%;
    width:80%;
    height:10%;
}
#text{
	width:500px;
	height:49px;
	border:2px solid #683B4D;
	border-radius:5px;
	background-color:transparent;
	
}

.imageInputContainer{
    position:absolute;
    left:30%;
    top:20%;
    width:80%;
    height:10%;
}
#text2{
	width:500px;
	height:49px;
	border:2px solid #683B4D;
	border-radius:5px;
	background-color:transparent;
}
.item{
	position:absolute;
    left:30%;
    top:30%;
    width:640px;
    height:49px;
	border:2px solid #683B4D;
	border-radius:5px;
}
.filter-text input{
	width:640px;
	height:49px;
	border:2px solid #683B4D;
	border-radius:5px;
}
.title{
	position:absolute;
    left:30%;
    top:40%;
    border:2px solid #683B4D;
	border-radius:5px;
}
.title input{
	width:635px;
	height:49px;
	border:none;
	background-color:transparent;
	padding-left:10px;
}

.info{
	position:absolute;
    left:30%;
    top:50%;
}
.info textarea{
	width:640px;
	height:200px;
	border:2px solid #683B4D;
	border-radius:5px;
	background-color:transparent;
	padding-left:10px;
	padding-top:10px;
	font-size: 14px;
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	overflow-Y:hidden;
}

.submit{
	position:absolute;
	width:80%;
    height:20%;
    left:30%;
    top:80%;
    border:0px;
    background-color:transparent;
        
}   










