body{
	margin:0;
}

div.search1 {padding: 5px 0}
form.search1 {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.dd1 {background: #00FFFF;}
.dd1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.searchbutton{
	position:absolute;	
	top:2px;
	right:1px;
	width:38px;
	height:38px;
}

.dd1 a{
	position:absolute;
	left:1000px;
	top:10px;
	width:50px;
	text-decoration : none;
}

.background1{
	position:absolute;
	width:1200px;
	height:540px;
	background-color:#303030;
	left:350px;
	top:80px;
}

.information{
	position:absolute;
	left:400px;
	top:700px;
	width:400px;
	height:200px;
	color:black;
	font-weight:700;
}

.info{
	margin-top:20px;
}
#talk{
	position:absolute;
	left:350px;
	top:900px;
	width: 1200px;
	height: 536px;
	
}	
#show{
	width:98%;
	height:67%;
	border:5px #00CCFF solid;
	margin:10px auto auto;
	overflow-y:auto;
}
#write{
	width:98%;
	height:28%;
	border:5px #00CCFF solid;
	margin:10px auto auto;
}
/* .btn{
	width: 51px;
	height: 28px;
	border:1px #00CCFF solid;
	margin: 2px auto auto 96%;
}*/


.mybuttons{
	position:absolute;
	width:80%;
    height:20%;
    left:50%;
    top:70%;
    
}  

.mybtn1{
	margin-left:10px;
}



